<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itemcategory">
<select id="queryItemCategory" resultType="java.util.Map">
select id,pid,categoryName from itemcategories where 1=1 and deleteFlag='0'
</select>
</mapper>